body {
    background-color: lightgray;
    font-family: Arial;
    text-align: center;
}

.calculator {
    width: 400px;
    padding: 30px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
}

#display {
    width: 280px;
    height: 60px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin: 3px;
    cursor: pointer;
}
